@import "../../styles/global.scss";

.bicicletasTitle {
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-family: "poppins", sans-serif;
  padding: 0px 20px;

  span {
    color: $destaqueColor;
  }
}

.bicicletasLista {
  padding: 60px 0px 120px;
}

.bicicletUl {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bicicletLi {
  flex: 1;
  min-width: 280px;
}

.bicicletLi span {
  padding-left: 20px;
}

.bicicletImg {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.bicicletLink {
  display: block;
}
.bicicletName {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletLink {
  width: "920px";
  height: "1040px";
}

.bicicletName {
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  margin-bottom: 0.5rem;
}

.bicicletPrice {
  padding-left: 20px;
  font-size: 1.2rem;
  font-family: "roboto", sans-serif;
  color: #595959;
  font-weight: 500;
}

.bicicletName::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: $destaqueColor;
  transition: width 0.2s;
}

.bicicletLink:hover .bicicletName::before {
  width: 24px;
}

@media (max-width: 800px) {
  .bicicletasLista {
    padding-bottom: 60px;
  }
  .bicicletasLista ul {
    gap: 20px;
  }
}
