@import "../../../styles/global.scss";

.header-bg {
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  ul {
    display: flex;
    gap: 40px;
  }
  .linkAfter {
    font-family: "poppins", sans-serif;
    position: relative;
    padding: 16px 0px;
    color: $white;
    font-size: 18px;
  }

  .linkAfter::after {
    content: "";
    display: block;
    height: 2px;
    width: 10px;
    background: $white;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }
  .linkAfter:hover:after {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    ul {
      gap: 20px;
    }
    .linkAfter {
      background: var(--cor-11);
      padding: 12px 16px;
      border-radius: 4px;
    }
    .linkAfter:hover {
      background-color: #111;
    }
    .linkAfter:after {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .header {
    ul {
      gap: 12px;
    }
    .linkAfter {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}
