@import "../../styles/global.scss";

.titleBicicletas {
  @include titleSection;
}
.destaque {
  color: $destaqueColor;
}

.uperText {
  @include uperText;
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../assets/icons/seta.svg");
  transition: transform 0.2s;
}

.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $black;
}

.bicicletasDetalhesClaro li {
  color: #595959;
  font: 500 1.125rem/1.35 Poppins, sans-serif;
}

.escura {
  color: #b2b2b2;
}

.clara {
  color: #595959;
}

.bicicletasDetalhesEscuro li {
  color: #b2b2b2;
  font: 500 1.125rem/1.35 Poppins, sans-serif;
}

.bicicletas-imagem img {
  border-radius: 4px;
}

.escuro {
  color: #b2b2b2;
}
.bicicletaDescricao {
  font: 400 1.3rem/1.5 Roboto, sans-serif;
}

.bicicletasName {
  font: 600 1.6rem/1.25 "Poppins", sans-serif;
}

.bicicletas-bg {
  background: linear-gradient(to right, $white 30%, #111111 0%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../assets/imgs/dec/top-right.svg") no-repeat top 40px
    right 20px;
}

.price {
  font: 500 1.125rem/1.35 Roboto, sans-serif;
  color: #fff;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas ul {
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bicicletas a {
    place-self: start;
  }
}
